header.header
  .container 
    .header__row 
      .header__menu
        a.header__logo.logo(href="#!") Thrivetalk
        nav.main__nav 
          ul.nav__list 
            li.nav__item 
              a.nav__link(href="#!") Home
            li.nav__item 
              a.nav__link(href="#!") About
            li.nav__item 
              a.nav__link(href="#!") Services
            li.nav__item 
              a.nav__link(href="#!") Blog
        p.header__button 
          a.header__link(href="#!") CONTACT US
      .header__intro 
        a.intro__logo.logo(href="#!") Thrivetalk
        h1.intro__title HELPING YOU THRIVE IN ALL AREAS OF LIFE
        p.intro__text Our highly talented therapists can help you with a range of issues including relationships, sex, PTSD, depression, social anxiety, or even just caring for yourself more.
        .intro__buttons 
          a.intro__button(href="#!") WHO AM I
          a.intro__button(href="#!") WHAT DO I DO