.know 
  .container 
    .know__row 
      .know__left 
      .know__right 
        p.know__title YOU SHOULD ALSO KNOW
        p.know__desc 
          | MDD affects more than 16.1 million American adults, or about 6.7%of the U.S. population age 18 and older in a given year. We at 
          a(href='#!').know__logo ThriveTalk 
          | can help you.
        a.know__link(href="#!") GET HELP NOW