.contact 
  .container 
    .contact__row 
      .contact__left 
        p.contact__title CONTACT US
        h2.contact__subtitle Ready. Set. Smile
        p.contact__desc Take the free online assessment to see if you are a candidate and get started on your journey.
        a.contact__link(href='#!') GET HELP NOW
      .contact__right