.thumb 
  .container 
    .thumb__row 
      ul.thumb__list 
        li.thumb__item 
          p.thumb__text 
            a.thumb__link(href="#!") Weight Lifting
        li.thumb__item 
          p.thumb__text 
            a.thumb__link(href="#!") Running  & Spinning
        li.thumb__item 
          p.thumb__text 
            a.thumb__link(href="#!") Pumping Iron
        li.thumb__item 
          p.thumb__text 
            a.thumb__link(href="#!") Pumping Iron