section.why 
  .container 
    .why__row 
      .why__left 
        h2.why__title Why Thrive?
        p.why__text 
          span Want to improve your well-being from the comfort of your own couch? Are you having trouble finding the right therapist? 
          | Here at ThriveTalk, our licensed therapists provide the same quality care you would get in office from anywhere you can access your laptop or mobile phone. Become your best self with ThriveTalk.  Start therapy now with a licensed therapist!
      .why__right