.services 
  .container 
    .services__row 
      ul.services__list 
        li.services__item 
          h3.services__title Nutritional Plans
          p.services__desc Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
        li.services__item 
          h3.services__title Weight Loss
          p.services__desc Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
        li.services__item 
          h3.services__title Mental Peace
          p.services__desc Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
        li.services__item 
          h3.services__title Home Training
          p.services__desc Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
        li.services__item 
          h3.services__title Work/Life Balance
          p.services__desc Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
        li.services__item 
          h3.services__title Cardio
          p.services__desc Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.