.cards 
  .container 
    .cards__row 
      ul.cards__list 
        li.cards__item 
          a.cards__link Physical Health
        li.cards__item 
          a.cards__link Mental Health
        li.cards__item 
          a.cards__link Nutrition
        li.cards__item 
          a.cards__link Gymnastics
        li.cards__item 
          a.cards__link Crossfit
        li.cards__item 
          a.cards__link Aerobics