@font-face {
  font-family: Larsseit;
  src: url("../fonts/Larsseit.otf");
  font-weight: normal;
}

@font-face {
  font-family: Larsseit700;
  src: url("../fonts/Larsseit-Bold.otf");
  font-weight: normal;
}

@font-face {
  font-family: Larsseit500;
  src: url("../fonts/Larsseit-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: Larsseit300;
  src: url("../fonts/Larsseit-Light.otf");
  font-weight: normal;
}