footer.footer
  .container 
    .footer__row 
      .footer__top 
        .footer__left 
        .footer__right
          ul.footer__list 
            li.footer__item 
              h3.footer__title SOME INFO
              p.footer__info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.
            li.footer__item 
              h3.footer__title ENFOLD HEALTH
              p.footer__info Main Street 1, Olcott Buffalo, United States
              br
              p.footer__info +555 283 784 333
              a.footer__email(href="#!") office@enfold-health.com
            li.footer__item 
              h3.footer__title OFFICE HOURS
              p.footer__info Mo-Fr: 8:00-19:00 Sa: 8:00-14:00 Su: closed
      .footer__bottom 
        p.footer__copy 
          span.footer__copyright © 
          | Copyright - ThriveTalk  2017